#logo{
    float: left;
}


header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    

}

li{
 
    padding: 5vh;
  
}

a{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

body{
    background-color:rgb(9, 73, 12);
}

.DropDown:hover .DropDownContent {
display: block;
display: flex;
flex-direction: column;
}

.DropDown:hover {
    margin-bottom: px;
    background-color: rgb(255, 255, 255);
}

.DropDown:hover a {
    color: rgb(0, 0, 0);
}

.DropDownMenuItem:hover {
    background-color: rgb(133, 131, 131);
    
}

.DropDownContent {
display: none;
position: absolute;
background-color: rgb(255, 255, 255);
min-width: 8vw;

}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 200PX;
}

#SchoImg{
  
    margin-left: 150px;
   float: left;
   width: 400px;
}
#SchoImg2{
   
    margin-right: 150px;
   float: right;
   width: 400px;
}
