#logo{
    float: left;
}


header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
   

}

li{
 
    padding: 5vh;
    flex-wrap: wrap;
  
}

a{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

body{
    background-color:rgb(9, 73, 12);
}

.DropDown:hover .DropDownContent {
display: block;
display: flex;
flex-direction: column;
}

.DropDown:hover {
    margin-bottom: px;
    background-color: rgb(255, 255, 255);
}

.DropDown:hover a {
    color: rgb(0, 0, 0);
}

.DropDownMenuItem:hover {
    background-color: rgb(133, 131, 131);
    
}

.DropDownContent {
display: none;
position: absolute;
background-color: rgb(255, 255, 255);
min-width: 8vw;

}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 200PX;
}

h3{
    text-align: center;
    color: white;
}

#SchoImg{
    margin-left: 150px;
   float: left;
   width: 350px;
}
#SchoImg2{
   
    margin-right: 150px;
   float: right;
   width: 400px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
   margin-top: 60vh;
    bottom: 0;
 }

 .info1{
    color: white;
    font-size: large;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
 }
 .ytlink{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
 }

 .imgschool{
    width: 30vw;
    margin-left: 100px;
    float: left;
 }

 .imgschoolEdu{
    width: 50vw;

 }
 .lgh2{
    color: white;
    float: right;
 }

.lgh2Edu{
   color: white;
   float: right;
   padding: 3vw;
}

 form{
    text-align: center;
    color: white;
 }

 #J
 {
    float: left;
    padding: 1vh;

 }

 #R
 {
    float: right;
    padding: 1vh;
 }

 p{
    color: white;
 }

 table{
width: 100vw;
color: #ffffff;
text-align: center;
}

.LoSoft{
    width:10vw;
}

.LoSoft2{
    width:20vw;
}

#THja{
    width: 20vw;
}

#lin{
    color: white;
}

#end{
text-align: center;
}
.owp{
    color: white;
    font-size: large;
    text-align: center;
}
.imgow{
    width: 30vw;
    margin-left: 60%;
}
.bsah2{
    color: white;
    font-size: x-large;
    text-align: center;
}
.ulbsa{
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
    list-style: decimal;
}
.videobsa{
    margin-left: 35%;
}
.bth2{
    color: white;
    font-size: large;
    text-align: center;
}
.btp{
    color: white;
    font-size: large;
    text-align: center;
}
.btimg{
    width: 50vw;
    margin-left: 20%;
}
.btul{
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
    list-style: decimal;
}
.eph2{
    color: white;
    font-size: large;
    text-align: center;
}
.epul{
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
    list-style: decimal;
}
.epimg{
    width: 35vw;
    margin-left: 60%;
}